@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7be82;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: #4a7c59;
}

header nav {
  margin-bottom: 0.5rem;
}

header a {
  color: #fff;
}

header a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.header-flex {
  padding: 1rem 0;
  text-align: center;
}

.user-management button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #d7be82;
}

.user-management label {
  margin: 0 1rem;
}

.home-landing,
.admin-control-panel {
  text-align: center;
}

.home-landing h2 {
  margin-bottom: 1rem;
}

.home-landing .container {
  max-width: 700px;
}

.home-landing p:first-of-type {
  margin-bottom: 0.5rem;
}

.admin-control-panel button {
  padding: 10px 25px;
  margin: 0 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #4a7c59;
  color: #fff;
}

#parks {
  padding: 3px;
  margin-bottom: 1rem;
  background-color: #96c3f2;
  border: none;
}

#events {
  padding: 3px 5px;
  background-color: #96c3f2;
  border: none;
}

.admin-nav {
  padding-bottom: 0.3rem;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid black;
}

.admin-nav a {
  color: #4a7c59;
}

.park-form {
  padding: 10px;
  margin: 1rem 0;
  border: 1px solid black;
  text-align: left;
}

.park-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.name-image-inputs-wrapper {
  display: flex;
  justify-content: space-between;
}

.park-radio-inputs {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.park-radio-inputs .input-wrapper,
.park-number-inputs .input-wrapper {
  width: calc((100% - 20px) / 2);
}

.park-radio-inputs input {
  margin-right: 5px;
}

.park-number-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.park-number-inputs label {
  display: block;
}

.event-form {
  padding: 10px;
  margin: 1rem 0;
  border: 1px solid black;
  text-align: center;
}